.next-back {
  &__link {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-green);

    &:focus-visible,
    &:hover {
      color: var(--color-white);
    }
    &:active {
      color: var(--color-red);
    }

    &--back {
      .arrow {
        transform: rotate(180deg);
      }

      &:focus-visible,
      &:hover,
      &:active {
        .arrow {
          animation: arrowBack .9s ease-in-out infinite;
        }
      }
    }

    &--next {
      margin-left: auto;

      &:focus-visible,
      &:hover,
      &:active {
        .arrow {
          animation: arrowNext .9s ease-in-out infinite;
        }
      }
    }
  }
}

@keyframes arrowNext {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes arrowBack {
  0% {
    transform: rotate(180deg) translateX(0);
  }
  50% {
    transform: rotate(180deg) translateX(15px);
  }
  100% {
    transform: rotate(180deg) translateX(0);
  }
}
